-- An example of generated SQL request:
INSERT INTO addresses ("STREET", "CITY", "ZIP_CODE", "COUNTRY") VALUES
{% for address in model.addresses %}
    ('{{ address.street }}',
    '{{ address.city }}',
    '{{ address.zipCode }}',
    '{{ address.country }}'){% if model.addresses | length != loop.index0 + 1 %},
    {% endif %}
{% endfor %};

-- Another SQL request with another part of the model:
INSERT INTO individuals ("FIRSTNAME", "LASTNAME", "EMAIL_ADDR") VALUES
{% for individual in model.individuals %}
    ('{{ individual.firstname }}',
    '{{ individual.lastname }}',
    '{{ individual.email_address }}'){% if model.individuals | length != loop.index0 + 1 %},
    {% endif %}
{% endfor %};

-- Yet another SQL request, but this time using both addresses and individuals sources:
INSERT INTO merged ("EMAIL", "CITY", "ZIP_CODE", "COUNTRY") VALUES
{% for individual in model.individuals %}
    ('{{ individual.email_address }}',
    '{{ model.addresses[loop.index0].city }}',
    '{{ model.addresses[loop.index0].zipCode }}',
    '{{ model.addresses[loop.index0].country }}'){% if model.individuals | length != loop.index0 + 1 %},
    {% endif %}
{% endfor %};
